# pixi environments
.pixi/*
!.pixi/config.toml

__pycache__/
*.pyc
latest.log

drafts/*
!drafts/.gitkeep
logs/*
!logs/.gitkeep
data/*
!data/.gitkeep
!data/in/pdf_demo/
!data/in/pdf_demo/**

configs/llm_manager.env
